@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 50% 10%; /* dark-arcade */
    --foreground: 0 0% 100%; /* white */

    --card: 240 50% 10%;
    --card-foreground: 0 0% 100%; /* white */

    --popover: 240 50% 10%;
    --popover-foreground: 0 0% 100%; /* white */

    --primary: 110 100% 54%; /* neon-green */
    --primary-foreground: 240 50% 10%;

    --secondary: 329 100% 54%; /* neon-pink */
    --secondary-foreground: 240 50% 10%;

    --muted: 240 50% 10%;
    --muted-foreground: 0 0% 100%; /* white */

    --accent: 277 100% 50%; /* neon-purple */
    --accent-foreground: 240 50% 10%;

    --destructive: 0 84.2% 60.2%; /* Keep red for destructive actions */
    --destructive-foreground: 0 0% 100%; /* white */

    --border: 110 100% 54%; /* neon-green */
    --input: 180 100% 50%; /* neon-blue */
    --ring: 110 100% 54%; /* neon-green */

    --radius: 0.5rem;

    --sidebar-background: 240 50% 10%;
    --sidebar-foreground: 0 0% 100%; /* white */
    --sidebar-primary: 110 100% 54%;
    --sidebar-primary-foreground: 240 50% 10%;
    --sidebar-accent: 329 100% 54%;
    --sidebar-accent-foreground: 240 50% 10%;
    --sidebar-border: 110 100% 54%;
    --sidebar-ring: 110 100% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {

  }

  h1, h2, h3, h4, h5, h6 {

  }
}